/* screen - form-confirmation-page */

.arial-regular-normal-black-20px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-black-25px {
  color: var(--black);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-blue-dianne-20px {
  color: var(--blue-dianne);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-dove-gray-20px {
  color: var(--dove-gray);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.arial-regular-normal-white-20px {
  color: var(--white);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.border-1px-dove-gray {
  border: 1px solid var(--dove-gray);
}
.border-1px-galliano {
  border: 1px solid var(--galliano);
}
.form-confirmation-page {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.form-confirmation-page .auction-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1330px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 90px;
  white-space: nowrap;
  width: auto;
}
.form-confirmation-page .back-to-home-C61RwL {
  background-color: transparent;
  height: auto;
  left: 897px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 663px;
  white-space: nowrap;
  width: auto;
}
.form-confirmation-page .customers-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1109px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 90px;
  white-space: nowrap;
  width: auto;
}
.form-confirmation-page .form-submitted-C61RwL {
  background-color: transparent;
  color: var(--green-pea);
  font-family: 'Arial-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 849px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 424px;
  white-space: nowrap;
  width: auto;
}
.form-confirmation-page .line-10-C61RwL {
  background-color: transparent;
  height: 3px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 1920px;
}
.form-confirmation-page .log-out-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1745px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 90px;
  white-space: nowrap;
  width: auto;
}
.form-confirmation-page .open-requests-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1505px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 90px;
  white-space: nowrap;
  width: auto;
}
.form-confirmation-page .rectangle-13-C61RwL {
  background-color: var(--green-pea);
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.161);;
  height: 39px;
  left: 1689px;
  position: absolute;
  top: 79px;
  width: 181px;
}
.form-confirmation-page .rectangle-14-C61RwL {
  background-color: var(--green-pea);
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.161);;
  height: 39px;
  left: 1481px;
  position: absolute;
  top: 79px;
  width: 181px;
}
.form-confirmation-page .rectangle-15-C61RwL {
  background-color: var(--green-pea);
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.161);;
  height: 39px;
  left: 1273px;
  position: absolute;
  top: 79px;
  width: 181px;
}
.form-confirmation-page .rectangle-16-C61RwL {
  background-color: var(--green-pea);
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.161);;
  height: 39px;
  left: 1065px;
  pointer-events: auto;
  position: absolute;
  top: 79px;
  transition: all 0.2s ease;
  width: 181px;
}
.form-confirmation-page .rectangle-16-C61RwL:hover {

box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.form-confirmation-page .rectangle-23-C61RwL {
  background-color: var(--celeste);
  border-radius: 16px;
  height: 62px;
  left: 829px;
  position: absolute;
  top: 540px;
  width: 263px;
}
.form-confirmation-page .rectangle-43-C61RwL {
  background-color: var(--celeste);
  border-radius: 16px;
  height: 62px;
  left: 829px;
  position: absolute;
  top: 638px;
  width: 263px;
}
.form-confirmation-page .smalllogo-gv-C61RwL {
  background-color: transparent;
  height: 83px;
  left: 63px;
  position: absolute;
  top: 37px;
  width: 127px;
}
.form-confirmation-page .submit-another-form-C61RwL {
  background-color: transparent;
  height: auto;
  left: 866px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 565px;
  white-space: nowrap;
  width: auto;
}
.segoeui-regular-normal-dove-gray-20px {
  color: var(--dove-gray);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.segoeui-regular-normal-dove-gray-25px {
  color: var(--dove-gray);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}
.segoeui-regular-normal-dove-gray-30px {
  color: var(--dove-gray);
  font-family: 'SegoeUI-Regular', Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: rgba(0,0,0,1.0);
  --blue-dianne: rgba(35,69,93,1.0);
  --celeste: rgba(204,204,204,1.0);
  --dove-gray: rgba(112,112,112,1.0);
  --galliano: rgba(219,170,0,1.0);
  --green-pea: rgba(38,97,65,1.0);
  --white: rgba(255,255,255,1.0);
}
